.navbar .navbar-nav .nav-item .active {
    color: #f58723;
}

.navbar-brand .title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.navbar-toggler {
  border: 0;
  width: 1.25rem;
  margin-top: 3.125rem;
  margin: 0 !important;
}

.navbar-brand .title-container .title {
    margin-top: 1.875rem;
    font-size: 4.375rem;
    color: #ADB8D7;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.navbar-brand .title-container .sub-title {
    font-size: 1.125rem;
    margin-top: -0.9375rem;
    color: #08074E;
    font-family: 'Ruda', sans-serif;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-brand .navbar-img {
    margin-top: 1.875rem;
    display: inline-block;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1.5rem;
    padding-top: 0;
    color: #08074E;
    font-family: 'Ruda', sans-serif;
    cursor: pointer;
}

.navbar-nav .nav-item .logout {
    color: #908F8E;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #908F8E;
}

.navbar,
.navbar-expand-lg,
.navbar-light {
    padding: 0;
}

@media screen and (max-width: 1280px) {
  .navbar .navbar-brand .navbar-img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar,
  .navbar-toggler {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    justify-content: center;
  }

  .navbar-toggler {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 456px) {
  .navbar-brand {
    margin: 0.625rem !important;
  }

  .title-container {
    margin-right: 0 !important;
  }
}
