<div class="container-fluid">
  <div id="container">

    <app-nav-bar></app-nav-bar>

    <div class="content">
      <form [formGroup]="formulario" (ngSubmit)="buscar()">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 pesquisa form-control form-control-lg" id="input1">
            <p-dropdown
              placeholder="Estado"
              [options]="estados"
              formControlName="estado"
              [filter]="true"
              [style]="{'width': '100%', 'border': '0', 'height': '100%', 'border-radius': '10px'}"
              (onChange)="listarCidades()">
            </p-dropdown>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 pesquisa form-control form-control-lg" id="input2">
            <p-dropdown
              placeholder="Cidade"
              [options]="cidades"
              formControlName="cidade"
              [filter]="true"
              [style]="{'width': '100%', 'border': '0', 'height': '100%', 'border-radius': '10px'}">
            </p-dropdown>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 pesquisa">
            <button type="submit" id="botao-pesquisa" class="btn btn-outline-light">
              <i class="fas fa-search" style="color: rgba(196, 196, 196, 1); font-size: 20px;"></i>
            </button>
          </div>
          <div class="col-2"></div>
        </div>

      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 float-left" id="container-filtros">
        <div class="div-filtros">
          <h2 class="title-filtros">Filtrar por:</h2>
        </div>

        <div id="filtros-locais">
          <div class="form-check">
            <label class="form-check-label espaco" for="defaultCheck1" formArrayName="estabelecimentos" *ngFor="let estabelecimento of listaEstabelecimentos.controls; let i = index">
              <input [formControlName]="i" class="form-check-input" type="checkbox">
              {{arrayEstabelecimentos[i].tipo}}
            </label>
          </div>
        </div>
        <div class="div-filtros">
          <h2 class="title-filtros">Acessível para deficiência:</h2>
        </div>
        

        <div id="filtros-locais">
          <div class="form-check">
            <label class="form-check-label espaco" for="defaultCheck1" formArrayName="acessibilidades" *ngFor="let acessibilidade of listaAcessibilidades.controls; let i = index">
              <input [formControlName]="i" class="form-check-input" type="checkbox">
              {{arrayDeAcessibilidades[i].tipo}}
            </label>
          </div>
        </div>

        <!-- <div id="filtro-deficiencia">
          <div class="col-md-3 text-center">
            <label  class="form-check-label" for="defaultCheck1" formArrayName="acessibilidades" *ngFor="let acessibilidade of listaAcessibilidades.controls; let i = index">
              <div class="checkbox-img">
              <img class="img-deficiencias" src={{arrayDeAcessibilidades[i].url}} />
              <p>{{arrayDeAcessibilidades[i].tipo}}</p>
              </div>
              <input [formControlName]="i" class="form-check-input" type="checkbox" />
            </label>
          </div>
        </div> -->

      </div>
    </form>
    <div class="main-cards float-right col-xl-9 col-lg-9 col-md-12 col-sm-12">
      <div class="mensagemDeBusca" *ngIf="meusCards.length == 0">
        Nenhum resultado encontrado para essa busca!
      </div>

      <app-card-pesquisa [meusCards]="meusCards"></app-card-pesquisa>
    </div>
    </div>
  </div>
</div>
