<div class="container-fluid">
    <div id="container">

        <app-nav-bar-secundaria></app-nav-bar-secundaria>

        <div class="content mt-4">
            <div class="pt-5 pb-5">

                <!--FORMULÁRIO DE CLIENTE-->
                <div id="formUser">
                    <!--FORMULÁRIO-->
                    <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <input type="text" class="input mt-4" placeholder="Nome" formControlName="nome">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" class="input mt-4" placeholder="Sobrenome"
                                    formControlName="sobrenome" [class]="(submitted && formulario.get('sobrenome').errors) || 
                         (formulario.get('sobrenome').errors && formulario.get('sobrenome').dirty) ? 'is-invalid' : 
                         formulario.get('sobrenome').dirty ? 'is-valid' : '' ">
                                <div *ngIf="formulario.get('sobrenome').errors?.required" class="invalid-feedback">
                                    Sobrenome é obrigatório!
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <input type="text" class="input mt-4" placeholder="CPF" formControlName="cpf">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="date" class="input mt-4" formControlName="dataNasc">
                            </div>
                        </div>
                        <div>
                            <input type="text" class="input mt-4" placeholder="Telefone" formControlName="telefone">
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <input type="text" class="input mt-4" placeholder="Rua" formControlName="rua">
                            </div>
                            <div class="col-12 col-md-3">
                                <input type="text" class="input mt-4" placeholder="Número" formControlName="numero">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <input type="text" class="input mt-4" placeholder="Bairro" formControlName="bairro">
                            </div>
                            <div class="col-12 col-md-5">
                                <input type="text" class="input mt-4" placeholder="CEP" formControlName="cep">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 ">
                                <div class="mt-4 input no-padding">
                                    <p-dropdown [options]="cidades" formControlName="cidade" [filter]="true"
                                        [style]="{'width': '100%', 'border': '0', 'height': '100%', 'border-radius': '10px'}">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mt-4 input no-padding">
                                    <p-dropdown [options]="estados" formControlName="estado" [filter]="true"
                                        [style]="{'width': '100%', 'border': '0', 'height': '100%', 'border-radius': '10px'}"
                                        (onChange)="listarCidades()">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="email" class="input mt-4" placeholder="E-mail" formControlName="email">
                        </div>
                        <div>
                            <input type="password" class="input mt-4" placeholder="Senha" id="senha"
                                formControlName="senha">
                        </div>
                        <div>
                            <input type="password" class="input mt-4" id="confirmarSenha" placeholder="Confirmar senha"
                                formControlName="confirmarsenha">
                        </div>
                        <button type="submit" class="btn mt-4 mb-2 entrar"
                            [class]="operacao ? 'btn-primary' : 'btn-success'">{{ operacao ? "Cadastrar" : "Atualizar" }}
                        </button>
                    </form>
                    <!--FIM FORMULÁRIO-->
                </div>
                <!--FIM FORMULÁRIO DE CLIENTE-->

                <p class="mt-4 cadastro"><a routerLink="/login"><i class="fas fa-arrow-left mr-2"></i>Voltar para
                        login</a></p>

            </div>
        </div>

    </div>
</div>