<div class="container-fluid">
    <div id="container">

        <app-nav-bar-secundaria></app-nav-bar-secundaria>

        <div class="content mt-4">
            <div class="pt-5 pb-5">

                <!--FORMULÁRIO DE CLIENTE-->
                <div id="formUser">
                    <!--FORMULÁRIO-->
                    <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <input type="text" class="input mt-4 form-control" placeholder="Nome"
                                    formControlName="nome" [class]="(submitted && formulario.get('nome').errors) || 
                                             (formulario.get('nome').errors && formulario.get('nome').dirty) ? 'is-invalid' : 
                                             formulario.get('nome').dirty ? 'is-valid' : '' " />
                                <div *ngIf="formulario.get('nome').errors?.required" class="invalid-feedback">
                                    nome é obrigatório!
                                </div>
                                <div *ngIf="formulario.get('nome').errors?.minlength" class="invalid-feedback">
                                    nome deve ter mais que 3 caracteres!
                                </div>
                                <div *ngIf="formulario.get('nome').errors?.maxlength" class="invalid-feedback">
                                    nome excedeu a quantidade máxima de 10 caracteres!
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" class="form-control input mt-4 " id="sobrenome"
                                    placeholder="Sobrenome" formControlName="sobrenome" [class]="(submitted && formulario.get('sobrenome').errors) || 
                                         (formulario.get('sobrenome').errors && formulario.get('sobrenome').dirty) ? 'is-invalid' : 
                                         formulario.get('sobrenome').dirty ? 'is-valid' : '' " />
                                <div *ngIf="formulario.get('sobrenome').errors?.required" class="invalid-feedback">
                                    Sobrenome é obrigatório!
                                </div>
                                <div *ngIf="formulario.get('sobrenome').errors?.minlength" class="invalid-feedback">
                                    Sobrenome deve ter mais que 3 caracteres!
                                </div>
                                <div *ngIf="formulario.get('sobrenome').errors?.maxlength" class="invalid-feedback">
                                    Sobrenome excedeu a quantidade máxima de 10 caracteres!
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <input type="text" class="input mt-4 form-control" placeholder="CPF"
                                    formControlName="cpf" mask="000.000.000-00" placeholder="345.234.123-34"
                                    formControlName="cpf" [class]="(submitted && formulario.get('cpf').errors) || 
                                         (formulario.get('cpf').errors && formulario.get('cpf').dirty) ? 'is-invalid' : 
                                         formulario.get('cpf').dirty ? 'is-valid' : '' " />
                                <div *ngIf="formulario.get('cpf').errors?.required" class="invalid-feedback">
                                    cpf é obrigatório!
                                </div>
                                <div *ngIf="formulario.get('cpf').errors?.minlength" class="invalid-feedback">
                                    cpf inválido
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="date" class="input mt-4" formControlName="dataNasc">
                            </div>
                        </div>
                        <div>
                            <input type="text" class="input mt-4 form-control" placeholder="Telefone"
                                formControlName="telefone" [class]=" (submitted && formulario.get('telefone').errors) ||
                            (formulario.get('telefone').errors && formulario.get('telefone').dirty) ? 'is-invalid' : 
                            formulario.get('telefone').dirty ? 'is-valid' : '' " mask="(00) 00000-0000"
                                placeholder="(73) 95321-9875" />
                            <div *ngIf="formulario.get('telefone').errors?.minlength" class="invalid-feedback"
                                onchange=confirm()>
                                telefone inválido
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <input type="text" class="input mt-4" placeholder="Rua" formControlName="rua">
                            </div>
                            <div class="col-12 col-md-3">
                                <input type="text" class="input mt-4" placeholder="Número" formControlName="numero">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <input type="text" class="input mt-4" placeholder="Bairro" formControlName="bairro">
                            </div>
                            <div class="col-12 col-md-5">
                                <input type="text" class="input mt-4" placeholder="CEP" formControlName="cep">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 ">
                                <div class="mt-4 input no-padding">
                                    <p-dropdown [options]="cidades" formControlName="cidade" [filter]="true"
                                        [style]="{'width': '100%', 'border': '0', 'height': '100%', 'border-radius': '10px'}">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mt-4 input no-padding">
                                    <p-dropdown [options]="estados" formControlName="estado" [filter]="true"
                                        [style]="{'width': '100%', 'border': '0', 'height': '100%', 'border-radius': '10px'}"
                                        (onChange)="listarCidades()">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="email" class="input mt-4" placeholder="E-mail" formControlName="email">
                        </div>
                        <div>
                            <input type="password" class="input mt-4" placeholder="Senha" id="senha"
                                formControlName="senha">
                        </div>
                        <div>
                            <input type="password" class="input mt-4" id="confirmarSenha" placeholder="Confirmar senha"
                                formControlName="confirmarsenha">
                        </div>
                        <button type="submit" class="btn mt-4 mb-2 entrar"
                            [class]="operacao ? 'btn-primary' : 'btn-success'">{{ operacao ? "Cadastrar" : "Atualizar" }}
                        </button>
                    </form>
                    <!--FIM FORMULÁRIO-->
                </div>
                <!--FIM FORMULÁRIO DE CLIENTE-->

                <p class="mt-4 cadastro"><a routerLink="/login"><i class="fas fa-arrow-left mr-2"></i>Voltar para
                        login</a></p>

            </div>
        </div>

    </div>
</div>