<div class="container-fluid">
  <div id="container">

    <app-nav-bar></app-nav-bar>

    <div class="content mt-5 mb-5 pt-2 text-justify">
      <section class="mt-2">
        <h2 class="title1">Equipe de desenvolvimento</h2>
        <p class="section-text">
          Somos um grupo de estudantes apaixonados por tecnologia e desenvolvimento de software!
          Criamos o GLACE com o intuito de ajudar a tornar possível que todas as pessoas possam ter o mesmo acesso
          à todo tipo de lugar, e pensamos nesse meio de informação para que pessoas com algum tipo de deficiência
          possa ter essa mesma acessibilidade.
        </p>
      </section>

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="desenvolvedores">
            <div class="image">
              <img class="fotos" src="../../assets/images/nathy.jpg" alt="imagem de uma mulher">
            </div>
            <div class="descricao">
              <h2 class="nome">Náthaly Rocha</h2>
              <p class="sobre">Tenho 22 anos, sou de Cabo Frio, Rio de Janeiro e estou cursando
                Sistemas de informação na universidade Estácio de Sá, sou novata
                nessa área de tecnologia e desenvolvimento de software e estou amando
                entrar nesse mundo.
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="desenvolvedores">
            <div class="image">
              <img class="fotos" src="../../assets/images/menina1.png" alt="imagem de uma mulher">
            </div>
            <div class="descricao">
              <h2 class="nome">Lívia</h2>
              <p class="sobre">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="desenvolvedores">
            <div class="image">
              <img class="fotos" src="../../assets/images/menina2.jpg" alt="imagem de uma mulher">
            </div>
            <div class="descricao">
              <h2 class="nome">Aline Ferreira</h2>
              <p class="sobre">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="desenvolvedores">
            <div class="image">
              <img class="fotos" src="../../assets/images/menino1.jpg" alt="imagem de uma mulher">
            </div>
            <div class="descricao">
              <h2 class="nome">Gênesis Aquino</h2>
              <p class="sobre">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </div>

      <section class="mt-2">
        <h2 class="title2">Aplicação</h2>
        <p class="section-text">
          O GLACE é um site de pesquisa, onde pessoas com algum tipo de deficiência
          podem encontrar lugares como restaurantes, hoteis, pousadas e outros que
          sejam acessíveis para essas pessoas, sejam elas deficientes visuais, intelectuais,
          auditivos, pessoas com dificuldade de locomoção como idososos, cadeirantes entre outros.
        </p>
      </section>
    </div>
  </div>
</div>
