<div class="container-fluid">
  <div id="container">

    <app-nav-bar></app-nav-bar>

    <div class="content mt-5 mb-5 pt-2 text-justify">
      <section class="mt-2">
        <h2 class="title1">Equipe de desenvolvimento</h2>
        <p class="section-text">
          Somos um grupo de estudantes apaixonados por tecnologia e desenvolvimento de software!
          Criamos o GLACE (Guia de Lugares ACEssíveis) com o intuito de ajudar a tornar possível que todos tenham o mesmo acesso
          à todo tipo de lugar, e pensamos nesse meio de informação para que pessoas com algum tipo de deficiência
          possa ter essa mesma acessibilidade.
        </p>
      </section>

      <div class="row">
        <div class="col-xl-16 col-lg-6 col-md-12 col-sm-12">
          <div class="desenvolvedores">
            <div class="image">
              <img class="fotos" src="../../assets/images/nathaly.jpg" alt="imagem de uma mulher">
            </div>
            <div class="descricao">
              <h2 class="nome">Náthaly Rocha</h2>
              <p class="sobre">Hey pessoal! sou a Náthaly, tenho 22 anos, sou de Cabo Frio - RJ e estou cursando
                Sistemas de informação na Universidade Estácio de Sá, sou novata
                nessa área de desenvolvimento de software e estou amando
                entrar nesse mundo enorme e inovador da tecnologia.
              </p>
              <a href="https://github.com/nathalyrocha" target="_blank" >
                <i class="fab fa-github"></i> Github
              </a>
              <a href="https://www.linkedin.com/in/nathalyfrocha/" target="_blank" style="margin-left: 10px" >
                <i class="fab fa-linkedin"></i> LinkedIn
              </a>
              <a href="https://www.instagram.com/ux_plus/" target="_blank" style="margin-left: 10px" >
                <i class="fab fa-instagram"></i> Instagram
              </a>
            </div>
          </div>
        </div>

        <div class="col-xl-16 col-lg-6 col-md-12 col-sm-12">
          <div class="desenvolvedores">
            <div class="image">
              <img class="fotos" src="../../assets/images/livia.jpg" alt="imagem de uma mulher">
            </div>
            <div class="descricao">
              <h2 class="nome">Lívia Guimarães</h2>
              <p class="sobre">Olá! Tenho 19 anos e sou de Cachoeiro de Itapemirim, sul do Espírito Santo.
                Minha formação é de Técnico em Informática pelo Ifes e pretendo cursar Sistemas de Informação.
                Sempre gostei de puzzles e de solucionar problemas, então o mundo da programação é um
                verdadeiro parque de diversões para mim.
              </p>
              <a href="https://github.com/4L1C3-R4BB1T" target="_blank" >
                <i class="fab fa-github"></i> Github
              </a>
              <a href="https://www.linkedin.com/in/livia013/" target="_blank" style="margin-left: 10px" >
                <i class="fab fa-linkedin"></i> LinkedIn
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-16 col-lg-6 col-md-12 col-sm-12">
          <div class="desenvolvedores">
            <div class="image">
              <img class="fotos" src="../../assets/images/aline.jpg" alt="imagem de uma mulher">
            </div>
            <div class="descricao">
              <h2 class="nome">Aline Ferreira</h2>
              <p class="sobre">Sou Aline, tenho 40 anos, sou mineira e moradora de São Caetano do Sul-SP.
                Sou formada em Tecnólogo em Processos Gerenciais e estou em transição de carreira.
                Cursando Ciência da Computação na Universidade Municipal de São Caetano do Sul - USCS.
                As linguagens de programação estão virando minha paixão.
              </p>
              <a href="https://github.com/Aline-Ferreira1980" target="_blank" >
                <i class="fab fa-github"></i> Github
              </a>
              <a href="https://www.linkedin.com/in/aline-nascimento-01222842/" target="_blank" style="margin-left: 10px" >
                <i class="fab fa-linkedin"></i> LinkedIn
              </a>
            </div>
          </div>
        </div>

        <div class="col-xl-16 col-lg-6 col-md-12 col-sm-12">
          <div class="desenvolvedores">
            <div class="image">
              <img class="fotos" src="../../assets/images/genesis.jpeg" alt="imagem de uma mulher">
            </div>
            <div class="descricao">
              <h2 class="nome">Gênesis Aquino</h2>
              <p class="sobre">Hello, World! Me chamo Gênesis, sou potiguar,
                tenho 21 anos e sou formado na área de técnico em informática pelo
                instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte - IFRN.
                Atualmente cursando o bacharelado em tecnologia da informação.
                Futuro engenheiro da computação. Sou apaixonado pelo mundo da programação e inovação,
                estou sempre aprendendo cada vez mais sobre esse mundo fantástico, além de que sempre
                gostei de produzir muitos conteúdos ao longo da minha carreira.
              </p>
              <a href="https://github.com/Genesisgn10" target="_blank" >
                <i class="fab fa-github"></i> Github
              </a>
              <a href="https://www.linkedin.com/in/genesisgn10/" target="_blank" style="margin-left: 10px" >
                <i class="fab fa-linkedin"></i> LinkedIn
              </a>
            </div>
          </div>
        </div>
      </div>

      <section class="mt-2">
        <h2 class="title2">Aplicação</h2>
        <p class="section-text">
          O GLACE é um site de pesquisa, que foi desenvolvido para que pessoas com algum tipo de deficiência
          possam encontrar lugares como restaurantes, hoteis, pousadas, cafés, que
          sejam acessíveis para as mesmas, sejam elas deficientes visuais, intelectuais,
          auditivos, pessoas com dificuldade de locomoção como idosos, cadeirantes entre outros.
          <br>
          <br>
          A tecnologia chegou para inovar e tornar possível para todos nós uma melhor comunicação e
          informação de qualidade, está presente em tudo que fazemos e utilizamos,
          e graças a ela podemos hoje criar e recriar formas de tornar o mundo muito mais
          inclusivo e acessível!
          <br>
          <br>
          A acessibilidade permite que todos tenham
          direitos iguais e não sejam excluídos do convívio.
          A inclusão é um direito de todos os cidadãos com algum tipo de limitação,
          previsto pela Lei 13.146, de 6 de julho de 2015.
        </p>
      </section>
    </div>
  </div>
</div>
