@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Ruda:wght@500&display=swap');
/*
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Ruda', sans-serif;
*/

:root {
  /*CORES PRINCIPAIS*/
  --color1: #adb8d7;
  --color2: #08074e;
  --color3: #ff9900;
  --color4: #ffffff;
  --color5: #3e3e3e;
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.navbar-brand .title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.navbar-brand .title-container .title {
  font-size: 66px;
  color: var(--color1);
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.navbar-brand .title-container .sub-title {
  font-size: 16.5px;
  margin-top: -15px;
  color: var(--color2);
  font-family: 'Ruda', sans-serif;
}

.navbar .navbar-brand .navbar-img {
  display: none;
}

.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  color: var(--color2);
  font-family: 'Ruda', sans-serif;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--color3);
}

/*
section .section-title {
}

section .section-text {
}
*/

/*TELAS COM LARGURA IGUAL OU MAIOR A 750px*/
@media screen and (min-width: 750px) {
  .navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .navbar .navbar-brand .navbar-img {
    display: inline-block;
  }
}

/*TELAS COM LARGURA IGUAL OU MAIOR A 992px*/
@media screen and (min-width: 992px) {
  .navbar-nav .nav-item .nav-link {
    margin-top: -40px;
  }
}