.container-fluid {
  display: flex;
  justify-content: center;
}

#container {
  width: 80%;
}

.navbar {
  padding-top: 30px;
}

.navbar-nav .nav-item .nav-link {
  font-family: 'Ruda', sans-serif;
  font-size: 25px;
  color: #08074E
}

.nav-link:hover {
  transition: 0.3s;
  color: #908F8E;
}

#title {
width: 100%;

font-family: 'M PLUS Rounded 1c', sans-serif;
font-weight: bold;
font-size: 120px;
text-align: center;

color: #ADB8D7;
margin-top: 70px;
}

#subtitle {
width: 100%;
font-family: 'Ruda', sans-serif;
font-size: 30px;
text-align: center;
margin-top: 8px;

color: #08074E;
}

.logo1 {
  margin-top: 70px;
  width: 100%;
}

.logo2 {
  margin-top: 80px;
  width: 100%;
}

#input1 {
  width: 100%;
  height: 55px;

  background: #FFFFFF;
  border: 1px solid #F1E9E9;
  box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px 0 0 10px;

  font-family: 'Ruda', sans-serif;
  font-size: 20px;
  padding-left: 20px;
}

#input2 {
  width: 100%;
  height: 55px;

  background: #FFFFFF;
  border: 1px solid #F1E9E9;
  box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.08);

  font-family: 'Ruda', sans-serif;
  font-size: 20px;
  padding-left: 20px;
}

#botao-pesquisa {
  width: 100%;
  height: 55px;

  background: #FFFFFF;
  border: 1px solid #F1E9E9;
  box-sizing: border-box;
  box-shadow: 3px 2px 20px rgba(146, 140, 140, 0.08);
  border-radius: 0 10px 10px 0;
}

#input1:hover, #input2:hover, #botao-pesquisa:hover {
  transition: 0.5s;
  border-color:#f58723;
}

.pesquisa {
  padding: 0 !important;
  margin-top: 80px;
}

#destaques {
  font-family: 'Ruda', sans-serif;
  font-size: 25px;
  color: #4E4E4E;
  margin-top: 60px;
}

.card-deck {
  margin: 20px 0 30px 0;
}

.img-card {
  max-height: 180px;
  object-fit: cover;
}

.card-text {
  min-height: 119px;
  max-height: 120px;
}

.icon {
  font-size: 25px;
  margin-right: 15px;
}

.ver-mais {
  background-color: rgba(255, 153, 0, 1);;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: #FFFFFF;
  font-family: 'Ruda', sans-serif;
  font-size: 15px;
}

footer {
  font-family: 'Ruda', sans-serif;
  font-size: 18px;
  color: #4E4E4E;
  padding: 20px;
}

@media screen and (max-width: 1440px) {
  .navbar-collapse, .navbar-toggler {
    width: 70px;
    margin-top: 50px;
  }

  #title {
    font-size: 70px; 
  }

  #subtitle {
    font-size: 20px;
  }
  
  .pesquisas {
    display: flex;
    flex-direction: row;
  }
  
  .pesquisa {
    padding: 0 !important;
  }

}

@media screen and (max-width: 1024px) {
  .navbar-collapse, .navbar-toggler {
    width: 70px;
    margin-top: 50px;
  }

  #title {
    margin: 0;
  }

  .logo1, .logo2 {
    display: none;
  }
  
  .pesquisas {
    display: flex;
    flex-direction: row;
  }
  
  .pesquisa {
    padding: 0 !important;
  }

}

@media screen and (max-width: 960px) {
  .container {
    width: 90%;
  }

  .navbar, .navbar-toggler {
    padding: 0;
  }

  .navbar-collapse, .navbar-toggler {
    width: 70px;
    margin-top: 50px;
  }

  #title {
    font-size: 120px;
    margin: 0;
  }

  #subtitle {
    font-size: 30px;
  }

  .logo1, .logo2 {
    display: none;
  }

  .pesquisas {
    display: flex;
    flex-direction: column;
  }

  .pesquisa {
    margin-top: 10px;
    padding: 0 !important;
  }

  #input1, #input2, #botao-pesquisa {
    width: 100%;
    border-radius: 10px;

  }

  #destaques {
    padding: 0;
    margin-top: 30px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .navbar, .navbar-toggler {
    padding: 0;
  }

  .navbar-collapse, .navbar-toggler {
    width: 70px;
    margin-top: 50px;
  }

  #title {
    font-size: 120px;
    margin: 0;
  }

  #subtitle {
    font-size: 30px;
  }

  .logo1, .logo2 {
    display: none;
  }

  .pesquisas {
    display: flex;
    flex-direction: column;
  }

  .pesquisa {
    margin-top: 10px;
    padding: 0;
  }

  #input1, #input2, #botao-pesquisa {
    width: 100%;
    border-radius: 10px;

  }

  #destaques {
    padding: 0;
    margin-top: 30px;
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }

  .navbar, .navbar-toggler {
    padding: 0;
  }

  .navbar-collapse, .navbar-toggler {
    width: 70px;
    margin-top: 50px;
  }

  #title {
    font-size: 90px;
    margin: 0;
  }

  #subtitle {
    font-size: 22px;
  }

  .logo1, .logo2 {
    display: none;
  }

  .pesquisas {
    display: flex;
    flex-direction: column;
  }

  .pesquisa {
    margin-top: 10px;
    padding: 0;
  }

  #input1, #input2, #botao-pesquisa {
    width: 100%;
    border-radius: 10px;

  }

  #destaques {
    padding: 0;
    margin-top: 30px;
    font-size: 18px;
  }
}