<div class="row row-cols-1 row-cols-xl-4 row-cols-md-2 row-cols-sm-1">
  <div *ngFor="let c of meusCards" class="col mb-4">
    <div class="card">
      <img [src]="c.imagem" class="card-img-top img-card" alt="imagem de quarto de hotel">
      <div class="card-body">
        <h5 class="card-title">{{c.title}}</h5>
        <p class="card-text description">{{c.descricao}}</p>
        <p><small class="text-muted">Acessível</small></p>
        <div>
          <i class="icon fab fa-accessible-icon"></i> <i class="icon fas fa-sign-language"></i> <i class="icon fas fa-blind"></i>

          <button
            class="float-right ver-mais"
            type="submit"
            routerLink="/detalhesLocal"
            routerLinkActive="active">
            Ver mais
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
