.navbar .navbar-nav .nav-item .active {
    color: #f58723;
}

.navbar-brand .title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.navbar-brand .title-container .title {
    margin-top: 30px;
    font-size: 70px;
    color: #ADB8D7;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.navbar-brand .title-container .sub-title {
    font-size: 20px;
    margin-top: -15px;
    color: #08074E;
    font-family: 'Ruda', sans-serif;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-brand .navbar-img {
    margin-top: 30px;
    display: inline-block;
}

.navbar-nav .nav-item .nav-link {
    font-size: 24px;
    padding-top: 0;
    color: #08074E;
    font-family: 'Ruda', sans-serif;
}

.navbar-nav .nav-item .logout {
    color: #908F8E;
}
 
.navbar-nav .nav-item .nav-link:hover {
    color: #908F8E;
}

.navbar,
.navbar-expand-lg,
.navbar-light {
    padding: 0;
}

@media screen and (max-width: 1280px) {
    .navbar .navbar-brand .navbar-img {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .navbar-collapse,
    .navbar-toggler {
        width: 70px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 960px) {
    .ml-5,
    .navbar,
    .navbar-toggler {
        margin: 0 !important;
    }

    .navbar-collapse,
    .navbar-toggler {
        width: 70px;
        margin-top: 0;
    }
}

@media screen and (max-width: 768px) {
    .navbar,
    .navbar-toggler {
        padding: 0;
    }

    .navbar-collapse,
    .navbar-toggler {
        width: 70px;
        margin-top: 50px;
    }

    .ml-5,
    .navbar,
    .navbar-toggler {
        margin: 0 !important;
    }
}

@media screen and (max-width: 576px) {
    .navbar-brand {
        margin: 0 !important;
    }

    .navbar,
    .navbar-toggler {
        padding: 0;
        margin: 0;
    }

    .navbar-collapse,
    .navbar-toggler {
        width: 70px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 456px) {
    .navbar-brand {
        margin: 10px !important;
    }
}