#input1 {
    width: 100%;
    height: 55px;

    background: #FFFFFF;
    border: 1px solid #F1E9E9;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px 0 0 10px;

    font-family: 'Ruda', sans-serif;
    font-size: 20px;
    padding-left: 20px;
}

#input2 {
    width: 100%;
    height: 55px;

    background: #FFFFFF;
    border: 1px solid #F1E9E9;
    border-radius: 0;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.08);

    font-family: 'Ruda', sans-serif;
    font-size: 20px;
    padding-left: 20px;
}

#botao-pesquisa {
    width: 100%;
    height: 55px;

    background: #FFFFFF;
    border: 1px solid #F1E9E9;
    box-sizing: border-box;
    box-shadow: 3px 2px 20px rgba(146, 140, 140, 0.08);
    border-radius: 0 10px 10px 0;
}

#input1:hover, #input2:hover, #botao-pesquisa:hover {
  transition: 0.5s;
  border-color:#f58723;
}

.pesquisa {
    padding: 0;
    margin-top: 80px;
}

.cards {
  margin-top: 100px;
}

.card-deck {
    margin: 0 0 30px 0;
}

.img-card {
    max-height: 180px;
    object-fit: cover;
}

.card-text {
    min-height: 119px;
    max-height: 120px;
}

.icon {
  font-size: 25px;
  margin-right: 15px;
}

#container-filtros {
    border: 2px solid #C4C4C4;
    border-top: 0;
    margin-top: 100px;
    border-radius: 3px;
}

.div-filtros {
    border-bottom: 2px solid #C4C4C4;
    border-top: 2px solid #C4C4C4;

}

.title-filtros {
  font-family: 'Ruda', sans-serif;
  font-size: 25px;
  padding: 20px;
  color: #4E4E4E;
  margin: 0;
}

#filtros-locais {
  padding: 20px !important;
}

.form-check-input {
width: 25px;
height: 25px;

border: 1px solid #C4C4C4;
box-sizing: border-box;
color: #C4C4C4;
}

.form-check-label {
  font-family: 'Ruda', sans-serif;
  font-size: 24px;
  padding-left: 20px;
  color: #4E4E4E;;
}

#filtro-deficiencia {
  display: flex;
  flex-direction: row;
}

.img-deficiencias {
  width: 40px;
  margin: 20px 0 20px 0;
  opacity: 80%;
}

.img-deficiencias:hover {
  transition: 0.5s;
  opacity: 100%;
}

.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid transparent;
  outline: 0;
}

.image-checkbox input[type="checkbox"] {
  display: none;
}

.image-checkbox-checked {
  border-color: #f58723;
}

.ver-mais {
  background-color: rgba(255, 153, 0, 1);;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: #FFFFFF;
  font-family: 'Ruda', sans-serif;
  font-size: 15px;
  border: 0;
}
