.content {
  width: 80%;
  margin: auto;
}

.input {
  width: 100%;
  height: 3.4375rem;

  background: #FFFFFF;
  border: 0.0625rem solid #F1E9E9;
  box-shadow: 0.1875rem 0.125rem 1.25rem rgba(146, 140, 140, 0.05);
  border-radius: 0.625rem;

  font-family: 'Ruda', sans-serif;
  font-size: 1rem;
  padding-left: 2.1875rem;
  margin-top: 0 !important;
}

.input:hover {
  transition: 0.5s;
  border-color:#f58723;
}

.icon {
  position: relative;
  left: 0.9375rem;
  top: 2.5rem;
  color: #908F8E;
  font-size: 0.875rem;
}

.icon {
  position: relative;
  left: 0.9375rem;
  top: 2.5rem;
  color: #908F8E;
  font-size: 0.875rem;
}

.entrar {
  width: 100%;

  background: linear-gradient(270deg, #FF9900 26.04%, #FFA217 54.17%, #FFBC57 100%);
  border-radius: 0.625rem;

  color: #FFFFFF;
  font-family: 'Ruda', sans-serif;
  font-size: 1.5rem;
  border: none;
  box-shadow: 0.1875rem 0.125rem 1.25rem rgba(0, 0, 0, 0.08);
}

.entrar:hover {
  background-color: orange;
}

p {
  text-align: center;
}

.cadastro a {
  font-family: 'Ruda', sans-serif;
  font-size: 1.125rem;
  color: rgba(8, 7, 78, 0.75);
}

.cadastro a:hover {
  transition: 0.3s;
  color: #908F8E;
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  .content {
    width: 50%;
    margin: auto;
  }
}
