.nome-perfil {
  font-family: 'Ruda', sans-serif;
  font-weight: 800 !important;
  color: #3E3E3E;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20px;
}

.botoes{
  margin-top: 10%;
}

.botoes-perfil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.circulo1 {
  border: 5px solid #ADB8D7;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo2 {
  border: 5px solid #FF9900;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-circulo1 {
  font-size: 60px;
  color: #ADB8D7;
}

.img-circulo2 {
  font-size: 60px;
  color: #FF9900;
}

.button {
  margin-top: 30px;
  background: none;
  border: 0;
  font-family: 'Ruda', sans-serif;
  width: 75%;
}

.button:hover {
  transition: 1s;
  font-weight: 500;
  color: black;
}

.title-button1 {
  font-weight: bold;
  color: #ADB8D7;
}

.title-button2 {
  font-weight: bold;
  color: #FF9900;
}

.description-button {
    color: #3E3E3E;
    font-size: 20px;
}

.botao {
  background-color: rgba(255, 153, 0, 1);
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Ruda', sans-serif;
  font-size: 20px;
  border: none;
  box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.08);
  padding: 5px 15px 5px 15px;
}

.botao:hover {
  background-color: orange;
}

.modal {
  font-size: 18px;
  font-family: 'Ruda', sans-serif;
}

.modal-title {
  color: #08074E;
  font-size: 22px;
}

.input {
  width: 100%;
  height: 55px;

  background: #FFFFFF;
  border: 1px solid #F1E9E9;
  box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;

  font-family: 'Ruda', sans-serif;
  font-size: 20px;
  padding-left: 20px;
}

.input:hover {
  transition: 0.5s;
  border-color:#f58723;
}

.no-padding {
  padding: 0;
}

.btn-outline-danger {
  border-radius: 5px;
  font-size: 16px;
}

@media screen and (max-width: 1440px) {
  .nome-perfil {
    padding-right: 5px !important;
  }
}

@media screen and (max-width: 1024px) {
  .nome-perfil {
    padding-right: 5px !important;
  }
}

@media screen and (max-width: 960px) {
  .nome-perfil {
    padding-right: 5px !important;
  }
}

@media screen and (max-width: 768px) {
  .nome-perfil {
    padding-right: 5px !important;
  }
}

@media screen and (max-width: 576px) {
  .nome-perfil {
    padding-right: 5px !important;
  }
}

@media screen and (max-width: 456px) {
  .nome-perfil {
    flex-direction: row;
    padding-left: 10px;
    margin-top: 8px;
  }
}