<div class="container-fluid">
  <div id="container">

    <app-nav-bar></app-nav-bar>

    <div class="row">
      <div class="nome-perfil">
        <h2 class="nome-perfil">Estabelecimento</h2>
      </div>
    </div>

    <div class="form-local pt-5">
      <h4>Cadastro de Estabelecimento</h4>
      <div id="formUser">
        <form [formGroup]="formulario" (ngSubmit)="cadastrarEstabelecimento()">
          <div class="form-group div-uploads" >
            <p-fileUpload #upload
              name="demo[]"
              chooseLabel="Escolher uma foto"
              [showUploadButton]="false"
              [showCancelButton]="false"
              (onSelect)="enviarImagem($event)"
              [multiple]="true"
              accept="image/*"
              maxFileSize="1000000">
            </p-fileUpload>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <input type="text" class="input mt-3" placeholder="Nome" name="nome"  formControlName="nome">
            </div>

                 
            <div class="col-12 col-md-6">
              <select formControlName="tipoEstabelecimento" matNativeControl required class="input ">
                <option value="">Tipo de Estabelecimento</option>
                <option value="Hotel">Hotel</option>
                <option value="Pousada">Pousada</option>
                <option value="Hotel Fazenda">Hotel Fazenda</option>
                <option value="Café">Café</option>
                <option value="Restaurante">Restaurante</option>
              </select>
          </div>

            <div class="col-12 col-md-6">
              <input type="text" class="input mt-3" placeholder="CNPJ" name="cnpj" formControlName="cnpj">
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <input type="text" class="input mt-4" placeholder="Rua" name="rua"  formControlName="rua">
            </div>

            <div class="col-12 col-md-6">
              <input type="text" class="input mt-4" placeholder="Telefone" name="telefone" formControlName="telefone" >
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <input type="text" class="input mt-4" placeholder="Bairro" name="bairro"  formControlName="bairro">
            </div>

            <div class="col-12 col-md-3">
              <input type="text" class="input mt-4" placeholder="CEP" name="cep"  formControlName="cep">
            </div>

            <div class="col-12 col-md-3">
              <input type="text" class="input mt-4" placeholder="Número" name="numero"  formControlName="numero">
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 ">
              <div class="mt-4 input no-padding">
                <p-dropdown
                  placeholder="Estado"
                  [options]="estados"
                  formControlName="estado"
                  placeholder="Estado"
                  [filter]="true"
                  [style]="{'width': '100%', 'border': '0', 'height': '100%', 'border-radius': '10px'}"
                  (onChange)="listarCidades()">
                </p-dropdown>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="mt-4 input no-padding">
                <p-dropdown
                  placeholder="Cidade"
                  [options]="cidades"
                  formControlName="cidade"
                  [filter]="true"
                  [style]="{'width': '100%', 'border': '0', 'height': '100%', 'border-radius': '10px'}">
                </p-dropdown>
              </div>
            </div>
          </div>

          <div>
            <textarea class="descricao mt-4" rows="4" cols="60" placeholder="Descrição do local"  formControlName="descricao" name="descricao"></textarea>
          </div>

          <div class="mt-2 mb-3">
            <div class="div-filtros">
              <p class="title-filtros"> Acessível para deficiência:</p>
            </div>

            <div id="filtro-deficiencia">
              <div class="col-md-7 text-center">
                <ul>
                  <li>
                    <input type="checkbox" id="myCheckbox1" />
                    <label for="myCheckbox1">
                      <div class="checkbox-img">
                        <img class="img-deficiencias" src="../../assets/images/mobilidade.png" />
                        <p>Motora</p>
                      </div>
                    </label>
                  </li>

                  <li>
                    <input type="checkbox" id="myCheckbox2" />
                    <label for="myCheckbox2">
                      <div class="checkbox-img">
                        <img class="img-deficiencias" src="../../assets/images/auditivo.png" />
                        <p>Auditiva</p>
                      </div>
                    </label>
                  </li>

                  <li>
                    <input type="checkbox" id="myCheckbox3" />
                    <label for="myCheckbox3">
                      <div class="checkbox-img">
                        <img class="img-deficiencias" src="../../assets/images/cego.png" />
                        <p>Visual</p>
                      </div>
                    </label>
                  </li>

                  <li>
                    <input type="checkbox" id="myCheckbox4" />
                    <label for="myCheckbox4">
                      <div class="checkbox-img">
                        <img class="img-deficiencias" src="../../assets/images/intelectual.png" />
                        <p>Intelectual</p>
                      </div>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="float-right mb-5">
            <button type="button" class="btn cancelar  btn-outline-secondary" routerLink="/perfilAdmin">Cancelar</button>
            <button type="submit" class="btn entrar">{{ operacao ? "Cadastrar" : "Atualizar" }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
