.form-local {
  width: 80%;
  margin: auto;
}

:host /deep/ .p-inputtext {
  font-family: 'Ruda', sans-serif;
  font-size: 1.25rem;
  padding: 0.8125rem 0 0 0;
}

:host /deep/ .p-fileupload-buttonbar {
  border-radius: 0.625rem 0 0;
}

:host /deep/ .p-fileupload-content {
  border-radius: 0 0 0.625rem;
}

.nome-perfil {
  font-family: 'Ruda', sans-serif;
  font-weight: 800 !important;
  color: #3E3E3E;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 1.25rem;
}

h4 {
  font-family: 'Ruda', sans-serif;
  font-size: 1.875rem;
  color: #08074E;
  margin-bottom: 1.875rem;
}

.input, textarea {
  width: 100%;
  background: #FFFFFF;
  border: 0.0625rem solid #F1E9E9;
  box-shadow: 0.1875rem 0.125rem 1.25rem rgba(0, 0, 0, 0.08);
  border-radius: 0.625rem;
  font-family: 'Ruda', sans-serif;
  font-size: 1rem;
  padding-left: 1.25rem;
}

.input:hover, textarea:hover {
  transition: 0.5s;
  border-color: #f58723;
}

.input {
  height: 3.4375rem;
}

.image-checkbox p {
  font-family: 'Ruda', sans-serif;
  color: #08074E;
  font-size: 1.0625rem;
}

.title-filtros {
  font-family: 'Ruda', sans-serif;
  font-size: 1.25rem;
  padding: 1.25rem;
  color: #4E4E4E;
  margin: 0;
  text-align: left;
}

.img-deficiencias {
  width: 2.5rem;
  opacity: 80%;
}

.img-deficiencias:hover {
  transition: 0.5s;
  opacity: 100%;
}

.text-center {
  padding: 0 !important;
  max-width: 50%;
}

.descricao {
  padding-top: 0.625rem;
}

.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0.25rem solid transparent;
  outline: 0;
}

.image-checkbox input[type="checkbox"] {
  display: none;
}

.image-checkbox-checked {
  border-color: #f58723;
}

.img-deficiencias {
  width: 3.125rem !important;
  height: 3.125rem !important;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: start;
  display: flex;
  flex-direction: row;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
  border: 0.0625rem solid #fff;
  padding: 0.625rem;
  display: block;
  position: relative;
  margin-right: 0.625rem;
  cursor: pointer;
}

label:before {
  content: " ";
  display: block;
  border: 0.0625rem solid grey;
  position: absolute;
  top: -0.3125rem;
  left: -0.3125rem;
  width: 1.5625rem;
  height: 1.5625rem;
  text-align: center;
  line-height: 1.40625rem;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 0.3125rem #333; */
  z-index: -1;
}

p {
  font-family: 'Ruda', sans-serif;
  color: #08074E;
  font-size: 1.0625rem;
  margin-top: 0.3125rem;
}

.checkbox-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.entrar {
  background-color: rgba(255, 153, 0, 1);
  border-radius: 0.625rem;
  color: #FFFFFF;
  font-family: 'Ruda', sans-serif;
  font-size: 1.5rem;
  border: none;
  box-shadow: 0.1875rem 0.125rem 1.25rem rgba(0, 0, 0, 0.08);
  padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
  margin-top: 0 !important;
}

.entrar:hover {
  transition: 1s;
  background-color: orange;
}

.cancelar {
  font-family: 'Ruda', sans-serif;
  font-size: 1.5rem;
  border-radius: 0.625rem;
  padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
  margin-right: 0.625rem;
}

@media screen and (max-width: 1440px) {
  .nome-perfil {
    padding-right: 0.3125rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .nome-perfil {
    padding-right: 0.3125rem !important;
  }
}

@media screen and (max-width: 960px) {
  .nome-perfil {
    padding-right: 0.3125rem !important;
  }
}

@media screen and (max-width: 768px) {
  .nome-perfil {
    padding-right: 0.3125rem !important;
  }
}

@media screen and (max-width: 576px) {
  .nome-perfil {
    padding-right: 0.3125rem !important;
  }
}

@media screen and (max-width: 456px) {
  .nome-perfil {
    flex-direction: row;
    padding-left: 0.625rem;
    margin-top: 0.5rem;
  }
}
