:host /deep/ .p-inputtext {
  font-family: 'Ruda', sans-serif;
  font-size: 1.25rem;
  padding: 0.8125rem 0 0 1.125rem;
}

.nome-perfil {
  font-family: 'Ruda', sans-serif;
  font-weight: 800 !important;
  color: #3E3E3E;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 1.25rem;
  font-size: 1.875rem;
}

.botoes {
  margin-top: 10%;
}

.botoes-perfil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1.875rem;
}

.editar-perfil-button {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.circulo1 {
  border: 0.3125rem solid #ADB8D7;
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo2 {
  border: 0.3125rem solid #FF9900;
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-circulo1 {
  font-size: 3rem;
  color: #ADB8D7;
}

.img-circulo2 {
  font-size: 3rem;
  color: #FF9900;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.875rem;
  background: none;
  border: 0;
  font-family: 'Ruda', sans-serif;
  width: 75%;
}

.title-button1 {
  width: 100%;

  color: #ADB8D7;
  font-family: 'Ruda', sans-serif;
  font-size: 2.1875rem;
  font-weight: bold;
  border: none;
  background-color: none;
}

.title-button2 {
  font-weight: bold;
  color: #FF9900;
  width: 100%;
  font-family: 'Ruda', sans-serif;
  font-size: 2.1875rem;
  font-weight: bold;
  border: none;
}

.title-button1:hover,
.title-button2:hover {
  transition: 1s;
  color: #3E3E3E;
}

.description-button {
  color: #3E3E3E;
  font-size: 1.5625rem;
  max-width: 21.875rem;
  margin-top: 1.25rem;
}

.botao {
  background-color: rgba(255, 153, 0, 1);
  border-radius: 0.4375rem;
  color: #FFFFFF;
  font-family: 'Ruda', sans-serif;
  font-size: 1.25rem;
  border: none;
  box-shadow: 0.1875rem 0.125rem 1.25rem rgba(0, 0, 0, 0.08);
  padding: 0.3125rem 0.9375rem 0.3125rem 0.9375rem;
}

.botao:hover {
  background-color: orange;
}

.cadastrar {
  background-color: rgba(255, 153, 0, 1);
  border-radius: 0.4375rem;
  color: #FFFFFF;
  font-family: 'Ruda', sans-serif;
  font-size: 1.25rem;
  border: 0.0625rem solid rgba(255, 153, 0, 1);
  box-shadow: 0.1875rem 0.125rem 1.25rem rgba(0, 0, 0, 0.08);
  padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
  margin-top: 0 !important;
}

.cancelar {
  font-family: 'Ruda', sans-serif;
  font-size: 1.25rem;
  border-radius: 0.4375rem;
  padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
  margin-right: 0.625rem;
}

.modal {
  padding: 0;
  font-size: 1.125rem;
  font-family: 'Ruda', sans-serif;
}

.modal-title {
  color: #3E3E3E;
  font-family: 'Ruda', sans-serif;
  font-size: 1.5625rem;
  font-weight: bold;
}

.modal-content {
  background: rgba(255, 255, 255);
}

.input {
  width: 100%;
  height: 3.4375rem;

  background: #FFFFFF;
  border: 0.0625rem solid #F1E9E9;
  box-shadow: 0.1875rem 0.125rem 1.25rem rgba(146, 140, 140, 0.05);
  border-radius: 0.625rem;

  font-family: 'Ruda', sans-serif;
  font-size: 1rem;
  padding-left: 1.25rem;
}

.input:hover {
  transition: 0.5s;
  border-color: #f58723;
}

.no-padding {
  padding: 0;
}

.deletar {
  width: 120px;
  text-align: center;
}

.espaco {
  margin: 0 10px 0 0;
}

:host /deep/ .p-button {
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 153, 0, 1);
  font-family: 'Ruda', sans-serif;
  font-size: 17px;
}

:host /deep/ .p-button:hover {
  background-color: #F08309;
}

:host /deep/ .p-inputtext:enabled:focus {
  border-color: orange;
  box-shadow: none;
}

:host /deep/ .p-datatable {
  font-family: 'Ruda', sans-serif;
  font-size: 18px;
}

:host /deep/ .p-paginator {
  font-family: 'Ruda', sans-serif;
}

:host /deep/ .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: orange;
  border: none;
  border-radius: 5px;
}

:host /deep/ .p-paginator .p-paginator-pages .p-paginator-page:enabled:focus,
:host /deep/ .p-paginator .p-paginator-first:enabled:focus,
:host /deep/ .p-paginator .p-paginator-prev:enabled:focus,
:host /deep/ .p-paginator .p-paginator-next:enabled:focus,
:host /deep/ .p-paginator .p-paginator-last:enabled:focus,
:host /deep/ .p-button:enabled:focus {
  border-color: none;
  box-shadow: none;
}

:host /deep/ .p-paginator .p-paginator-rpp-options {
  border-radius: 5px;
}

:host /deep/ .p-paginator .p-paginator-rpp-options:hover {
  border-color: orange;
}

:host /deep/ .p-inputtext {
  font-size: 1rem;
}

@media screen and (max-width: 1440px) {
  .nome-perfil {
    padding-right: 0.3125rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .nome-perfil {
    padding-right: 0.3125rem !important;
  }
}

@media screen and (max-width: 960px) {
  .nome-perfil {
    padding-right: 0.3125rem !important;
  }
}

@media screen and (max-width: 768px) {
  .nome-perfil {
    padding-right: 0.3125rem !important;
  }
}

@media screen and (max-width: 960px) {
  .nome-perfil {
    padding-right: 0.3125rem !important;
  }
}

@media screen and (max-width: 768px) {
  .nome-perfil {
    padding-right: 0.3125rem !important;
  }
}

@media screen and (max-width: 576px) {
  .nome-perfil {
    padding-right: 0.3125rem !important;
  }
}

@media screen and (max-width: 456px) {
  .nome-perfil {
    flex-direction: row;
    padding-left: 0.625rem;
    margin-top: 0.5rem;
  }
}
