.content {
  width: 80% !important;
  margin: auto;
}

:host /deep/ .p-inputtext {
  font-family: 'Ruda', sans-serif;
  font-size: 1.25rem;
  padding: 0.8125rem 0 0 1.125rem;
}

:host /deep/ .p-fileupload-buttonbar {
  border-radius: 0.625rem 0.625rem 0 0;
}

:host /deep/ .p-fileupload-content {
  border-radius: 0 0 0.625rem 0.625rem;
}

:host /deep/ .p-button {
  background-color: rgba(255, 153, 0, 1);
  border: 0;
}

:host /deep/ .p-button:hover {
  background-color: #FFA723;
  transition: 1s;
}

:host /deep/ .p-dropdown .p-dropdown-label.p-placeholder {
  font-size: 1rem;
}

.input {
  width: 100%;
  height: 3.4375rem;

  background: #FFFFFF;
  border: 0.0625rem solid #F1E9E9;
  box-shadow: 0.1875rem 0.125rem 1.25rem rgba(146, 140, 140, 0.05);
  border-radius: 0.625rem;

  font-family: 'Ruda', sans-serif;
  font-size: 1rem;
  padding-left: 1.25rem;
}

.input:hover {
  transition: 0.5s;
  border-color:#f58723;
}

.is-invalid {
  border-color: red;
  background: #ffe6e6;
}

.is-valid {
  border-color: green;
  background: #ebfaeb;
}

.cadastrar {
  width: 100%;

  background: linear-gradient(270deg, #FF9900 26.04%, #FFA217 54.17%, #FFBC57 100%);
  border-radius: 0.625rem;

  color: #FFFFFF;
  font-family: 'Ruda', sans-serif;
  font-size: 1.5rem;
  border: none;
  box-shadow: 0.1875rem 0.125rem 1.25rem rgba(0, 0, 0, 0.08);
}

.entrar:hover {
  background-color: orange;
}

p {
  text-align: center;
}

.cadastro a {
  font-family: 'Ruda', sans-serif;
  font-size: 1.125rem;
  color: rgba(8, 7, 78, 0.75);
}

.cadastro a:hover {
  transition: 0.3s;
  color: #908F8E;
  text-decoration: none;
}

.no-padding {
  padding: 0;
}

.foto-title {
  font-family: 'Ruda', sans-serif;
  font-size: 1.25rem;
  color: #495057;
}

@media screen and (min-width: 1000px) {
  .content {
    width: 50%;
    margin: auto;
  }
}
