<div class="container-fluid">
    <div id="container">

        <app-nav-bar-secundaria></app-nav-bar-secundaria>

        <div class="content mt-4">
            <div class="pt-5 pb-5">

                <!--FORMULÁRIO DE PARCEIRO-->
                <div id="formAdmin">
                    <!--FORMULÁRIO-->
                    <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
                        <div>
                            <input type="text" class="input mt-4" placeholder="Razão social" formControlName="razao">
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <input type="text" class="input mt-4" placeholder="CNPJ" formControlName="cnpj">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" class="input mt-4" placeholder="Telefone" formControlName="telefone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <input type="text" class="input mt-4" placeholder="Rua" formControlName="rua">
                            </div>
                            <div class="col-12 col-md-3">
                                <input type="text" class="input mt-4" placeholder="Número" formControlName="numero">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <input type="text" class="input mt-4" placeholder="Bairro" formControlName="bairro">
                            </div>
                            <div class="col-12 col-md-5">
                                <input type="text" class="input mt-4" placeholder="CEP" formControlName="cep">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 ">
                                <div class="mt-4 input no-padding">
                                    <p-dropdown 
                                        [options]="cidades" 
                                        formControlName="cidade" 
                                        [filter]="true" 
                                        [style]="{'width': '100%', 'border': '0', 'height': '100%', 'border-radius': '10px'}">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mt-4 input no-padding">
                                    <p-dropdown 
                                        [options]="estados" 
                                        formControlName="estado" 
                                        [filter]="true" 
                                        [style]="{'width': '100%', 'border': '0', 'height': '100%', 'border-radius': '10px'}"
                                        (onChange)="listarCidades()">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="text" class="input mt-4" placeholder="E-mail" formControlName="email">
                        </div>
                        <div>
                            <input type="password" class="input mt-4" placeholder="Senha" formControlName="senha">
                        </div>
                        <div>
                            <input type="password" class="input mt-4 mb-3" placeholder="Confirmar senha" formControlName="confirmarsenha">
                        </div>
                        <button type="submit" class="btn mt-4 mb-2 entrar">Cadastrar</button>
                    </form>
                    <!--FIM FORMULÁRIO-->
                </div>
                <!--FIM FORMULÁRIO DE PARCEIRO-->

                <p class="mt-4 cadastro"><a routerLink="/login"><i class="fas fa-arrow-left mr-2"></i>Voltar para
                        login</a></p>

            </div>
        </div>

    </div>
</div>