<!--CABEÇALHO-->
<header>
    <!--MENU-->
    <nav class="navbar navbar-expand-lg navbar-light ml-5 mr-5">
      <a class="navbar-brand" href="#">
        <!--TÍTULO GLACE-->
        <p class="title-container mr-4">
          <span class="title">GLACE</span>
          <span class="sub-title">Guia de Lugares Acessíveis</span>
        </p>
        <!--IMAGEM CRIANÇAS-->
        <img src="./assets/images/kids-2.png" class="align-top navbar-img" alt="imagem de uma ilustração de crianças com deficiência"
          loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end navbar-options" id="navbarNav">
        <!--OPÇÕES MENU-->
        <ul class="navbar-nav">
          <!--OPÇÃO-->
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <!--OPÇÃO-->
          <li class="nav-item">
            <a class="nav-link" href="#">Pesquisa</a>
          </li>
          <!--OPÇÃO-->
          <li class="nav-item">
            <a class="nav-link" href="#">Quem somos</a>
          </li>
        </ul>
        <!--FIM OPÇÕES MENU-->
      </div>
    </nav>
    <!--FIM MENU-->
  </header>
  <!--FIM CABEÇALHO-->

  <!--CONTEÚDO PRINCIPAL-->
  <main role="main">
    <!--CONTAINER CONTEÚDO PRINCIPAL-->
    <div class="container-text text-justify ml-5 mr-5 mt-2 p-4">
      <!--SEÇÃO-->
      <section class="mt-2">
        <!--TÍTULO-->
        <h2 class="section-title">Lorem</h2>
        <!--TEXTO-->
        <p class="section-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta deleniti esse velit, officia distinctio
          iusto temporibus, sint molestiae quia recusandae enim dolore aliquam magnam. Rem, voluptatibus? Porro
          doloribus aut omnis!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, unde eveniet expedita possimus omnis aut
          modi quia voluptatem dolorum minus ut? Delectus, itaque? Ducimus pariatur necessitatibus incidunt voluptates
          voluptatibus cumque!
        </p>
      </section>
      <!--FIM SEÇÃO-->

      <!--SEÇÃO-->
      <section class="mt-5">
        <!--TÍTULO-->
        <h2 class="section-title">Lorem</h2>
        <!--TEXTO-->
        <p class="section-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta deleniti esse velit, officia distinctio
          iusto temporibus, sint molestiae quia recusandae enim dolore aliquam magnam. Rem, voluptatibus? Porro
          doloribus aut omnis!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, unde eveniet expedita possimus omnis aut
          modi quia voluptatem dolorum minus ut? Delectus, itaque? Ducimus pariatur necessitatibus incidunt voluptates
          voluptatibus cumque!
        </p>
      </section>
      <!--FIM SEÇÃO-->
    </div>
    <!--FIM CONTAINER CONTEÚDO PRINCIPAL-->
  </main>
  <!--FIM CONTEÚDO PRINCIPAL-->

  <!--RODAPÉ-->
  <!--footer></footer-->
  <!--FIM RODAPÉ-->