<div class="container-fluid">
  <div id="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <div class="title-container mr-4">
          <h1 class="title">GLACE</h1>
          <h2 class="sub-title">Guia de Lugares Acessíveis</h2>
        </div>
        <img src="../../assets/images/kids-2.png" class="align-top navbar-img"
          alt="imagem de uma ilustração de crianças com deficiência" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end navbar-options" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pesquisa">Pesquisa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: rgba(255, 153, 0, 1);" routerLink="/quemSomos">Quem somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="content mt-5 mb-5 pt-2 text-justify">
      <section class="mt-2">
        <h2 class="section-title">Titulo</h2>
        <p class="section-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta deleniti esse velit, officia
          distinctio iusto temporibus, sint molestiae quia recusandae enim dolore aliquam magnam. Rem, voluptatibus?
          Porro doloribus aut omnis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, unde eveniet expedita possimus
          omnis aut modi quia voluptatem dolorum minus ut? Delectus, itaque? Ducimus pariatur necessitatibus
          incidunt voluptates voluptatibus cumque!
        </p>
      </section>

      <section class="mt-5">
        <h2 class="section-title">Titulo</h2>
        <p class="section-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta deleniti esse velit, officia
          distinctio iusto temporibus, sint molestiae quia recusandae enim dolore aliquam magnam. Rem, voluptatibus?
          Porro doloribus aut omnis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, unde eveniet expedita possimus
          omnis aut modi quia voluptatem dolorum minus ut? Delectus, itaque? Ducimus pariatur necessitatibus
          incidunt voluptates voluptatibus cumque!
        </p>
      </section>

      <section class="mt-5">
        <h2 class="section-title">Titulo</h2>
        <p class="section-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta deleniti esse velit, officia
          distinctio iusto temporibus, sint molestiae quia recusandae enim dolore aliquam magnam. Rem, voluptatibus?
          Porro doloribus aut omnis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, unde eveniet expedita possimus
          omnis aut modi quia voluptatem dolorum minus ut? Delectus, itaque? Ducimus pariatur necessitatibus
          incidunt voluptates voluptatibus cumque!
        </p>
      </section>
    </div>
  </div>
</div>

<footer class="page-footer text-center">
  <div class="footer-copyright text-center">
    <strong>Projeto Integrador - GLACE</strong>
  </div>
</footer>