<div class="container-fluid">
  <div id="container">
    
    <app-nav-bar></app-nav-bar>

    <div class="content mt-5 mb-5 pt-2 text-justify">
      <section class="mt-2">
        <h2 class="section-title">Titulo</h2>
        <p class="section-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta deleniti esse velit, officia
          distinctio iusto temporibus, sint molestiae quia recusandae enim dolore aliquam magnam. Rem, voluptatibus?
          Porro doloribus aut omnis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, unde eveniet expedita possimus
          omnis aut modi quia voluptatem dolorum minus ut? Delectus, itaque? Ducimus pariatur necessitatibus
          incidunt voluptates voluptatibus cumque!
        </p>
      </section>

      <section class="mt-5">
        <h2 class="section-title">Titulo</h2>
        <p class="section-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta deleniti esse velit, officia
          distinctio iusto temporibus, sint molestiae quia recusandae enim dolore aliquam magnam. Rem, voluptatibus?
          Porro doloribus aut omnis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, unde eveniet expedita possimus
          omnis aut modi quia voluptatem dolorum minus ut? Delectus, itaque? Ducimus pariatur necessitatibus
          incidunt voluptates voluptatibus cumque!
        </p>
      </section>

      <section class="mt-5">
        <h2 class="section-title">Titulo</h2>
        <p class="section-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta deleniti esse velit, officia
          distinctio iusto temporibus, sint molestiae quia recusandae enim dolore aliquam magnam. Rem, voluptatibus?
          Porro doloribus aut omnis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, unde eveniet expedita possimus
          omnis aut modi quia voluptatem dolorum minus ut? Delectus, itaque? Ducimus pariatur necessitatibus
          incidunt voluptates voluptatibus cumque!
        </p>
      </section>
    </div>
  </div>
</div>
