<div class="container-fluid">
    <div id="container">

        <app-nav-bar></app-nav-bar>

        <div class="nav-item dropdown mt-3 ml-4 mr-4">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Listar</a>
            <div class="dropdown-menu">
                <a routerLink="/listar/cliente" class="dropdown-item">Listar Clientes</a>    
                <a routerLink="/listar/parceiro" class="dropdown-item">Listar Parceiros</a>                    
            </div>
        </div>   

        <div class="container mt-3 mb-5">
            <p-table 
                #dt [value]="parceiros" 
                [paginator]="true" 
                [rows]="10" 
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[5,10,25,50]" 
                [loading]="loading" 
                [filterDelay]="0"
                [globalFilterFields]="['id','razao','email','endereco.cep']">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Pesquisar" />
                        </span>
                        <span class="float-right name mt-2 mr-2">
                            Parceiros
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="razao">Razão<p-sortIcon field="razao"></p-sortIcon>
                        </th>
                        <th pSortableColumn="email">E-mail <p-sortIcon field="email"></p-sortIcon>
                        </th>
                        <th pSortableColumn="cep">CEP <p-sortIcon field="cep"></p-sortIcon>
                        </th>
                        <th class="deletar-atualizar"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-parceiro>
                    <tr>
                        <td>{{parceiro.id}}</td>
                        <td>{{parceiro.razao}}</td>
                        <td>{{parceiro.email}}</td>
                        <td>{{parceiro.telefone}}</td>
                        <td class="deletar-atualizar">
                            <p-button routerLink="/perfil/parceiro/{{parceiro.id}}" class="espaco" icon="pi pi-pencil">
                            </p-button>
                            <p-button (click)="excluirParc(parceiro.id)" icon="pi pi-trash"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" routerLink="/cadastro/parceiro">Novo Parceiro</p-button>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>