<div class="container-fluid">
  <div id="container">

    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <div class="title-container mr-4">
          <h1 class="title">GLACE</h1>
          <h2 class="sub-title">Guia de Lugares Acessíveis</h2>
        </div>
        <img src="../assets/images/kids-2.png" class="align-top navbar-img" alt="imagem de uma ilustração de crianças com deficiência"
          loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end navbar-options" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pesquisa.html">Pesquisa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quem somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: rgba(255, 153, 0, 1);" href="">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: rgba(144, 143, 142, 100%);" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="nome-perfil">
        <h2 class="nome-perfil">Admin</h2>
      </div>
    </div>

    <div class="row botoes">
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <div class="botoes-perfil">
          <div class="circulo1">
            <i class="fas fa-user-edit img-circulo1"></i>
          </div>
          <button class="button" type="submit">
            <h2 class="title-button1">Editar Perfil</h2>
            <p class="description-button">Foto de perfil, nome do perfil, email de entrada, senha.</p>
          </button>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <div class="botoes-perfil">
          <div class="circulo2">
            <i class="fas fa-pen img-circulo2"></i>
          </div>
          <button class="button" type="submit">
            <h2 class="title-button2">Cadastrar local</h2>
            <p class="description-button">Cadastre o seu estabelicimento, marque o tipo de acessibilidade que ele
              disponibiliza e ajude a criar um mundo com mais acessível!</p>
          </button>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <div class="botoes-perfil">
          <div class="circulo3">
            <i class="fas fa-list-ul img-circulo3"></i>
          </div>
          <button class="button" type="submit">
            <h2 class="title-button3">Já cadastrados</h2>
            <p class="description-button">Veja seus locais cadastrados, edite textos, adicione fotos, exclua.</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer text-center">
  <div class="footer-copyright text-center">
    <strong>Projeto Integrador - GLACE</strong>
  </div>
</footer>
