<div class="container-fluid">
  <div id="container">

    <app-nav-bar></app-nav-bar>

    <div class="row">
      <div class="nome-perfil">
        <h2 class="nome-perfil">Admin</h2>
      </div>
    </div>

    <div class="row botoes">
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <div class="botoes-perfil">
          <div class="circulo1">
            <i class="fas fa-user-edit img-circulo1"></i>
          </div>
          <button class="button" type="submit">
            <h2 class="title-button1">Editar Perfil</h2>
            <p class="description-button">Foto de perfil, nome do perfil, email de entrada, senha.</p>
          </button>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <div class="botoes-perfil">
          <div class="circulo2">
            <i class="fas fa-pen img-circulo2"></i>
          </div>
          <button class="button" type="submit">
            <h2 class="title-button2">Cadastrar local</h2>
            <p class="description-button">Cadastre o seu estabelecimento, marque o tipo de acessibilidade que ele
              disponibiliza e ajude a criar um mundo mais acessível!</p>
          </button>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <div class="botoes-perfil">
          <div class="circulo3">
            <i class="fas fa-list-ul img-circulo3"></i>
          </div>
          <button class="button" type="submit">
            <h2 class="title-button3">Já Tenho Cadastro</h2>
            <p class="description-button">Veja seus locais cadastrados, edite textos, adicione fotos, exclua.</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
