.carousel {
    border: 1px solid #908F8E;
    border-radius: 2px;
}
  
.content {
    font-family: 'Ruda', sans-serif;
}

.content p {
    font-size: 20px;
}

.content .localizacao {
    color: #908F8E;
    font-size: 18px;
}

.icon {
    font-size: 13px;
    color: #FF9900;
    margin-right: 5px;
}

.reserva {
    background-color: rgba(255, 153, 0, 1);;
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
    color: #FFFFFF;
    font-family: 'Ruda', sans-serif;
    font-size: 18px;
}

.reserva:hover {
    background-color: orange;
    color: rgb(240, 240, 240);
}
 