.navbar {
    padding-top: 30px;
}

.navbar .navbar-nav .nav-item .active {
    color: #f58723;
}

.navbar-nav .nav-item .nav-link {
    font-family: 'Ruda', sans-serif;
    font-size: 25px;
    color: #08074E
}

.navbar-nav .nav-item .logout {
    color: #908F8E;
}

.navbar-nav .nav-item .nav-link:hover {
    transition: 0.3s;
    color: #908F8E;
}

#title {
    width: 100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    font-size: 120px;
    text-align: center;
    color: #ADB8D7;
    margin-top: 70px;
}

#subtitle {
    width: 100%;
    font-family: 'Ruda', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 8px;
    color: #08074E;
}

.logo1 {
    margin-top: 70px;
    max-height: 200px;
}

.logo2 {
    margin-top: 80px;
    max-height: 200px;
}

@media screen and (max-width: 1440px) {
    .navbar-collapse,
    .navbar-toggler {
        width: 70px;
        margin-top: 50px;
    }

    #title {
        font-size: 70px;
    }

    #subtitle {
        font-size: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .navbar-collapse,
    .navbar-toggler {
        width: 70px;
        margin-top: 50px;
    }

    #title {
        margin: 0;
    }

    .logo1,
    .logo2 {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .navbar,
    .navbar-toggler {
        padding: 0;
    }

    .navbar-collapse,
    .navbar-toggler {
        width: 70px;
        margin-top: 50px;
    }

    #title {
        font-size: 120px;
        margin: 0;
    }

    #subtitle {
        font-size: 30px;
    }

    .logo1,
    .logo2 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .navbar,
    .navbar-toggler {
        padding: 0;
    }

    .navbar-collapse,
    .navbar-toggler {
        width: 70px;
        margin-top: 50px;
    }

    #title {
        font-size: 120px;
        margin: 0;
    }

    #subtitle {
        font-size: 30px;
    }

    .logo1,
    .logo2 {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .navbar,
    .navbar-toggler {
        padding: 0;
    }

    .navbar-collapse,
    .navbar-toggler {
        width: 70px;
        margin-top: 50px;
    }

    #title {
        font-size: 90px;
        margin: 0;
    }

    #subtitle {
        font-size: 22px;
    }

    .logo1,
    .logo2 {
        display: none;
    }
}
