<div class="container-fluid">
    <div id="container">
        
        <app-nav-bar-secundaria></app-nav-bar-secundaria>

        <div class="content mt-5 pt-4">
            <div class="pt-5 pb-5">
                <div class="">
                    <input type="email" class="input1" placeholder="E-mail">
                </div>
                <div>
                    <input type="password" class="input1 mt-4 mb-3" placeholder="Senha">
                </div>
                <button type="button" class="btn btn-primary mt-4 mb-2 entrar" routerLinkActive="active" routerLink="/perfilUsuario">Entrar</button>
                <p class="mt-4 cadastro"><a routerLinkActive="active" routerLink="/cadastroUsuario">Não possuo cadastro</a></p>
            </div>
        </div>
    </div>
</div>
