.descricao {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-deck {
  margin: 20px 0 30px 0;
}

.img-card {
  min-height: 200px;
  max-height: 201px;
  object-fit: cover;
}

.max-length-description {
  min-height: 100px;
}

.icon {
  font-size: 25px;
  margin-right: 15px;
}

.ver-mais {
  background-color: rgba(255, 153, 0, 1);;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: #FFFFFF;
  font-family: 'Ruda', sans-serif;
  font-size: 18px;
  border: 0;
  margin-bottom: 13px;
}

.acessivel-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.icones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
